.rsvp__question{
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 80vw;
  margin: 1em 0;

  &__wrapper{
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
  }

  &__title{
    font-size:  1.7rem;
    font-family: 'adlery_problockletter';
  }


  &__desc{
    text-align: start;
    font-size: 0.9em;
  }

  &__options{
    align-self: center;
    display: flex;
    flex-direction: row;
    
  }

}