@import url('https://fonts.googleapis.com/css?family=Montserrat:200,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
footer,
.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

header h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #330867;
}

footer h1 {
  font-weight: 200;
  font-size: 3rem;
  color: #30cfd0;
}


.animation {
  height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, rgb(168, 236, 232) 80%);
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}


.cloud {
  width: 15%;
  height: 5%;
  position: relative;
  top: 0;
}

.cloud-flipped {
  transform: scaleX(-1);
}

.cloud-1 {
  top: 6%;
  left: 6%;
}

.cloud-2 {
  top: 12%;
  left: 0%;
}

.cloud-3 {
  top: 4%;
  right: -40%;
}

.cloud-4 {
  top: 10%;
  right: -10%;
}

.newlyweds, .bride, .groom {
  z-index: 1000;
}

.newlyweds {
  position: absolute;
  height: 28vh;
  width: 100%;
  bottom: 2%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.bride {
  position: absolute;
  width: auto;
  height: 24vh;
  max-height: 170px;
  opacity: 0;
  bottom: 12%;
  left: -9%;
}

.groom {
  position: absolute;
  width: auto;
  height: 24vh;
  max-height: 170px;
  opacity: 0;
  bottom: 12%;
  right: -9%;
}

.fig {
  height: 58%;
  width: auto;
  opacity: 0;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  z-index: 10000;
}

.sun {
  position: absolute;
  width: 20vw;
  max-width: 6.5rem;
  height: auto;
  left: 30%;
  visibility: hidden;
}

.church {
  height: auto;
}

.church-wrapper{
  width: 20%;
  position: absolute;
  left: 71%;
  z-index: 100;
}

.tree {
  position: absolute;
  z-index: 10;
}

.tree-left {
  width: auto;
  width: 8%;
  left: 15%;
}

.tree-upper-left {
  width: auto;
  height: 14%;
  left: 1%;
}

.tree-right {
  width: 5%;
  height: auto;
  right: 2%;
}

.path-wrapper{
  z-index: 1;
  position: absolute;
}

.path{
  width: 100%;
  height: auto;
}

.ribbon{
  z-index: 10000;
  position: absolute;
  width: 70%;
  max-width: 510px;
  height: auto;
  visibility: hidden;
}


.shake-horizontal {
	-webkit-animation: shake-horizontal 16s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-horizontal 16s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.shake-horizontal-reverse {
	-webkit-animation: shake-horizontal 18s ease-in-out infinite reverse ;
	        animation: shake-horizontal 18s ease-in-out infinite reverse ;
}


@media screen and (max-width: 800px) {

  header h1 {font-size: 3rem; padding: 0 1rem;}
  
  footer h1 {font-size: 2rem; padding: 0 1rem;}
  

}

@media only screen and (max-width: 35em) {
  .groom{
    right: -16%;
  }

  .bride{
    left: -18%;
  }

  .fig{
    bottom: -13%;
  }
}

@media only screen and (min-width: 800px) {
  .animation {
    height: 70vh;
    width: 90vw;
    max-width: 900px;
    margin: auto;
  }
}



.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 80%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #330867;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #330867;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-9-29 17:52:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

