@font-face {
  font-family: "autumn_in_novemberregular";
  src: url("../fonts/autumninnovember-rrx8-webfont.woff2") format("woff2"),
    url("../fonts/autumninnovember-rrx8-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'adlery_problockletter';
  src: url('../fonts/adlery-pro-blockletter-trial-webfont.woff2') format('woff2'),
       url('../fonts/adlery-pro-blockletter-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}