.scroll__container {
  position: relative;
  width: 24px;
  height: 24px;
  margin-bottom: 13rem;
  margin-top: auto;
}

.scroll__chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.scroll__chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.scroll__chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.scroll__chevron:before,
.scroll__chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #e1ba43;
}

.scroll__chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.scroll__chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -20px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #e1ba43;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}