.rsvp__intro{

  flex-grow: 1; 
  border-bottom: 1px dotted #886f29b5;
  padding-bottom: 0.6em;
  margin-bottom: 0.4em;
  
  .title{
    padding: 10px;
    color: #88702a;
  }

  p {
    padding: 5px 0px;

    @media only screen and (max-width: 35em) {
      text-align: justify;
    }

  }

}